{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<a class="link-to-product" href="{{ product_url }}">
    <article{{ attributes }}>
        {#
        оригинал:
        {{- product|without('variation_attributes') -}}
        #}
        <div class="img-wrapper">
            {{ product.variation_field_product_variation_img }} {# картинка товара #}
            {% if product.variation_price.0['#number'] > 0 %} {# цену выводим только в том случае, если для товара установлена цена #}
                <div class="field--name-price"><div class="triangle"></div>{{ product.variation_price.0['#number']|number_format(0, ',', ' ') }}&nbsp;₽</div> {# установим формат вывода цены без копеек и с пробелом в качестве разделителя тысяч #}
            {% endif %}
        </div>
        {{ product.variations }}
        {{ product.title }} {# заголовок товара #}
        {{ product.field_short_desc }}
    </article>
</a>