{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<article itemscope itemtype="http://schema.org/Product" {{ attributes.addClass('commerce-product--full') }}>
    {# в оригинале в <article{{ attributes }}> было только это:
    {{- product|without('variation_attributes') -}}
    #}
    <div class="variations-wrapper">
        <h1 itemprop="name">{{ product.variation_title[0]['#title']['#context']['value'] }}</h1>
        {% if product.variations[1] is defined %} {# выведем варианты товара только в том случае, если их более одного#}
            {{ product.variations }}
        {% endif %}
    </div>
    {% if product.variation_price.0['#number'] > 0 %} {# цену и наличие товара выводим только в том случае, если для товара установлена цена #}
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="price-wrapper">
            <div itemprop="price" content="{{ product.variation_price.0['#number']|number_format(0, '', '') }}" class="field--name-price">{{ product.variation_price.0['#number']|number_format(0, ',', ' ') }}&nbsp;<span itemprop="priceCurrency" content="RUB">₽</span></div> {# установим формат вывода цены без копеек и с пробелом в качестве разделителя тысяч #}
            {% if product.variation_field_stock.0['#markup'] > 0 %} {# если на складе есть товар #}
                <link itemprop="availability" href="http://schema.org/InStock">
                <div class="stock-available"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;Товар в наличии</div> {# то вывести сообщение об этом #}
            {% endif %}
        </div>
    {% endif %}
    <div>{{ product.variation_field_product_variation_img }}</div>
    <div class="row margin-btm">
        <div class="col-sm-5">
            <h4 class="description_title">Описание</h4>
            {{ product.body }}
        </div>
        {% set parameters = product|without('title','body','variation_sku','variation_attributes','variations','variation_title','variation_field_product_variation_img') %} {# в переменную parameters запишем все поля товара которые могут содержать параметры. без лишнего #}
        <div class="col-sm-7">
            <h4 class="parameters_title">Параметры</h4>
            <table class="table table-striped">
                <tbody>
                {% for parameter in parameters if 'field_param' in parameter['#field_name'] %} {# из переменной parameters нам нужны только поля, которые содержат в своем id 'field_param' - именно в таких полях хранаятся параметры товаров #}
                    <tr>
                        <td class="parameter-label"> {{ parameter['#title'] }} </td>
                        <td class="parameter-value"> {{ parameter[0]['#context']['value'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {# Если поле "Файлы" или "YouTube" заполнено - отрендерим его #}
    {% if (product.field_download|render) or (product.field_youtube|render) %}
        <div class="row margin-btm">
            <div class="col-sm-5">
                {% if (product.field_youtube|render) %}
                    {{ product.field_youtube }}
                {% endif %}
            </div>
            <div class="col-sm-7">
                {% if (product.field_download|render) %}
                    {{ product.field_download }}
                {% endif %}
            </div>
        </div>
    {% endif %}
    {# Если поле "Смотри также" заполнено - отрендерим его #}
    {% if product.field_product_reference|render %}
        <div>
            <h4>Смотри также</h4>
            {{ product.field_product_reference }}
        </div>
    {% endif %}

</article>